<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false" />
  </runtime>
  <appSettings>
    <add key="TestTnName_old" value="hejsanhoppsan.17.11.01.Nisse.Johansson.ANd.Tjerna.Persson.888..mors.kors.AAA[asdf]" />
    <add key="TestTnName" value="hejsanhoppsan.17.11.01.KLkadfasdf.Johansson.ANd.Tjerna.Persson.888..mors.kors.AAA[asdf]" />
    <add key="Auto" value="0" />
    <add key="Res1" value="888p" />
    <add key="Res2" value="888" />
    <add key="Res3" value="2111" />
    <add key="Res4" value="1080p" />
    <add key="Res5" value="1080" />
    <add key="Res6" value="1080p" />
    <add key="Res7" value="1080p" />
    <add key="Res8" value="1080p" />
    <add key="Rem1" value="Mors" />
    <add key="Rem2" value="KORS" />
    <add key="Rem3" value="dfghdhdgh" />
    <add key="Rem4" value="asdf" />
    <add key="Rem5" value="AAA" />
    <add key="Rem6" value="AAA" />
    <add key="Rem7" value="AAA" />
    <add key="Rem8" value="AAA" />
    <add key="Rem9" value="AAA" />
    <add key="Rem10" value="AAA" />
    <add key="Rem11" value="AAA" />
    <add key="Rem12" value="AAA" />
    <add key="Rem13" value="AAA" />
    <add key="Rem14" value="AAA" />
    <add key="Rem15" value="AAA" />
    <add key="Rem16" value="AAA" />
    <add key="Rem17" value="AAA" />
    <add key="Rem18" value="AAA" />
    <add key="Extra1" value="And" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>