<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="TestTnName" value="hejsanhoppsan.17.11.01.KLkadfasdf.Johansson.ANd.Tjerna.Persson.888..mors.kors.AAA[asdf]" />
        <add key="Auto" value="0" />
        <add key="Res1" value="888p" />
        <add key="Res2" value="888" />
        <add key="Res3" value="2111" />
        <add key="Res4" value="1080p" />
        <add key="Res5" value="1080" />
        <add key="Res6" value="1080p" />
        <add key="Res7" value="1080p" />
        <add key="Res8" value="1080p" />
        
        <add key="Rem1" value="Mors" />
        <add key="Rem2" value="KORS" />
        <add key="Rem3" value="dfghdhdgh" />
        <add key="Rem4" value="asdf" />
        <add key="Rem5" value=".AAA" />
        <add key="Rem6" value="MP4-KTR" />
        <add key="Rem7" value="" />
        <add key="Rem8" value="" />
        <add key="Rem9" value="" />
        <add key="Rem10" value="" />
        <add key="Rem11" value="" />
        <add key="Rem12" value="" />
        <add key="Rem13" value="" />
        <add key="Rem14" value="" />
        <add key="Rem15" value="" />
        <add key="Rem16" value="" />
        <add key="Rem17" value="" />
        <add key="Rem18" value="" />
        <add key="Rem19" value="" />
        <add key="Rem20" value="" />
        
        <add key="RemoveThisShit" value="Mors,KORS,asdf,dfghdhdgh,.AAA,MP4-KTR" />
        <add key="Extra1" value="And" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />

    </appSettings>
</configuration>